<div class="navbar navbar-expand-sm navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h1> <%= link_to "cocktails!", cocktails_path %></h1>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light"><%= link_to "Create new cocktail", new_cocktail_path %></button>
      </li>
    </ul>
  </div>
</div>
