$mustard: #F39237;

.container-banner {
  height: 200px;
  border-radius: 3px;
  background-image: url('https://res.cloudinary.com/da5feb6qi/image/upload/v1557915751/nupa0gqgiwrowddwounm.jpg');
}

.container-form {
  padding: 32px;
}

.form-button {
  border: 1px solid $mustard;
  border-radius: 3px;
  color: $mustard;
}

.container-content {
  height: 350px;
}

.btn {
  margin-top: 8px;
}

.form-btn {
  border: 1px solid $mustard;
  border-radius: 3px;
  margin-top: 8px;
}

.form-btn a {
  color: $mustard;
}
